{% verbatim %}

<div class="note-container"
     ng-class="{active: note.hover_major, collapsed: !note.expanded_in_major_pane}"
     ng-mouseover="note.focus = true"
     ng-mouseleave="note.focus = false">

    <div class="note-actions"
         ng-show="note.focus"
         ng-mouseover="note.hover_major = true"
         ng-mouseout="note.hover_major = false">
        <i ng-mousedown="notes.expandNote(note, true)"
           ng-if="note.expanded_in_major_pane"
           title="Collapse note"
           class="fa fa-minus">
        </i>
        <i ng-mousedown="notes.expandNote(note, true)"
           ng-if="!note.expanded_in_major_pane"
           title="Expand note"
           class="fa fa-plus">
        </i>
        <i ng-mousedown="notes.updateFocus(note)"
           title="Display at top"
           class="fa fa-caret-square-o-up">
        </i>
        <i title="Share note" class="fa fa-share-alt"></i>
    </div>

    <div contenteditable="true"
         spellcheck="true"
         class="note-text"
         id="input-major-{{note.uuid}}"
         ng-keydown="notes.keyHandler(note, path, true, $index, $event)"
         ng-model="note.text">
    </div>

</div>

<ul ng-init="parentNote = note">
    <li ng-if="parentNote.expanded_in_major_pane"
        ng-repeat="note in note.children"
        ng-init="path = path.concat([$index])"
        ng-include="'/fragment/note-major/'"
        class="note">
    </li>
</ul>

{% endverbatim %}
