$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-color: #6700A0;
$background-color: #fffefb;
$text-color: #442A0A;
$link-color: #4774E7;
$select-color: #FF9E25;
$error-color: #b00;
$sidebar-width: 280px;
$edge-trim-border-width: 1px;
$edge-trim: $edge-trim-border-width solid #EBDFCC;
