$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-color: #6700A0;
$background-color: #fffefb;
$text-color: #442A0A;
$select-color: #FF9E25;
$sidebar-width: 280px;
$edge-trim: 1px solid #EBDFCC;

::-webkit-input-placeholder {
    color: rgba($text-color, 0.25);
}

body {
    font-family: $helvetica;
    color: $text-color;
    background-color: $background-color;
    margin: 0;
    border: 0;
    padding: 0;
}

a {
    $color: #4774E7;
    color: $color;
    cursor: pointer;

    &:hover {
        color: $color + #111;
    }

    &:active {
        color: $color - #111;
    }
}

dfn {
    font-weight: bold;
    font-style: normal;
    color: #30AA00;
    cursor: pointer;
}

ul#menu {
    position: absolute;
    top: 0; right: 0;
    font-size: 0.7em;
    margin: 0.75em;
    padding: 0;
    z-index: 10;

    li {
        display: inline-block;
        margin: 0 0.25em;

        a {
            text-decoration: none;
            color: rgba($text-color, 0.6);

            &:hover {
                color: rgba($text-color, 0.8);
            }
        }
    }
}

main.notes {
    position: absolute;
    height: 100%;
    overflow-y: auto;
    left: $sidebar-width;
    right: 0;
    box-sizing: border-box;
    padding: 0 1.5rem;

    h1 {
        font-weight: normal;
        margin-bottom: 0;
        outline: none;
    }

    ul {
        padding-left: 1.5em;
    }

    & > ul {
        margin-top: 0.5em;
    }

    .note-actions {
        bottom: 2px;
        right: 5px;
    }
}

aside.notes {
    $horizontal-padding: 1rem;
    $box-shadow: -10px 0 10px -10px rgba(0,0,0, 0.1) inset;
    position: absolute;
    height: 100%;
    width: $sidebar-width;
    overflow-x: auto;
    border-right: $edge-trim;
    background-color: $background-color - #000007;
    box-shadow: $box-shadow;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 $horizontal-padding;

    input#search {
        width: 100%;
        margin: 0;
        margin-left: -$horizontal-padding;
        padding: 0.5em $horizontal-padding;
        font-size: 1em;
        outline: none;
        border: 0;
        background-color: rgba($background-color, 0.65);
        border-top: $edge-trim; border-bottom: $edge-trim;
        box-shadow: $box-shadow;
        font-family: $helvetica, 'FontAwesome';

        &:focus {
            background-color: $background-color;
        }
    }

    .logo {
        margin: 0.2em 0 0.15em;
        font-size: 1.7em;
    }

    .note-actions {
        bottom: 2px;
        left: -16px;
        padding-right: 4px; // prevent element from going invisible in "dead zone"
                            // between .note-text and .note-actions elements
        opacity: 0;

        &:hover, &.active {
            opacity: 1;
        }
    }

    .note-text {
        cursor: pointer;
        padding-right: 0.25em;
        display: inline-block; // forces containment of text in sidebar with overflow: scroll
                               // http://stackoverflow.com/a/3917059

        &:hover {
            background-color: rgba($select-color, 0.1);
        }

        &.focused {
            background-color: rgba($select-color, 0.2);
        }
    }
}

section.front {
    max-width: 640px;
    box-sizing: border-box;
    padding: 1em;
    margin: 1em auto;
}

.notes {
    ul {
        padding-left: 1em;
        border-left: 1px solid #BFFFA6;
        list-style-type: none;
    }

    & > ul {
        border-left: none;
        padding-left: 0 !important;
    }

    .collapsed {
        border-bottom: $edge-trim;
    }

    .note-text {
        outline: none;
        padding: 0.2em 0;
    }
}

.note-container {
    position: relative;

    &.active {
        background-color: rgba($select-color, 0.05);
    }

    &.selected {
        background-color: rgba(210,220,255, 0.75);
    }
}

.note-actions {
    position: absolute;
    color: rgba($text-color, 0.25);
    background-color: rgba($background-color, 0.65);
    cursor: default;

    i {
        cursor: pointer;

        &:hover {
            color: rgba($text-color, 0.75);
        }
    }
}

.logo {
    font-family: 'Laila', sans-serif;
    font-weight: normal;
    color: $primary-color;

    &.front {
        font-size: 3.5em;
        margin: 0;
        text-align: right;
    }
}

.tagline {
    color: $primary-color;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    text-align: right;
}

.description {
    margin: 1.2em 0;
    font-size: 1.4em;
    font-weight: normal;
}

.col {
    float: left;
    width: 50%;
    padding: 0 1.5em;
    box-sizing: border-box;
}
