$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$background-color: #fffef0;
$primary_color: #6700A0;
$sidebar-width: 300px;

body {
    font-family: $helvetica;
    color: #442A0A;
    background-color: $background-color;
    margin: 0;
    border: 0;
    padding: 0;
}

a {
    $color: #4774E7;
    color: $color;
    cursor: pointer;

    &:hover {
        color: $color + #111;
    }

    &:active {
        color: $color - #111;
    }
}

dfn {
    font-weight: bold;
    font-style: normal;
    color: #30AA00;
    cursor: pointer;
}

main.notes {
    position: absolute;
    height: 100%;
    overflow-y: auto;
    left: $sidebar-width;
    right: 0;
    box-sizing: border-box;
    padding-right: 1em;

    & > ul {
        border-left: none;

        & > li {
            font-size: 175%;
        }

        & > ul {
            border-left: none;
            padding-left: 0;
        }
    }
}

aside.notes {
    position: absolute;
    height: 100%;
    width: $sidebar-width;
    overflow-x: auto;
    border-right: 1px solid #E4D1B3;
    background-color: $background-color - #000007;
    box-shadow: -10px 0 10px -10px rgba(0,0,0, 0.1) inset;
    white-space: nowrap;
    box-sizing: border-box;

    & > ul {
        border-left: none;
        padding-left: 1em;
    }
}

section.front {
    max-width: 640px;
    box-sizing: border-box;
    padding: 1em;
    margin: 1em auto;
}

.logo {
    font-family: 'Laila', sans-serif;
    font-weight: normal;
    color: $primary_color;

    &.front {
        font-size: 3.5em;
        margin: 0;
        text-align: right;
    }
}

.tagline {
    color: $primary_color;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    text-align: right;
}

.description {
    margin: 1.2em 0;
    font-size: 1.4em;
    font-weight: normal;
}

.col {
    float: left;
    width: 50%;
    padding: 0 1.5em;
    box-sizing: border-box;
}

.notes ul {
    padding-left: 2em;
    border-left: 1px solid #BFFFA6;
    list-style-type: none;

    li {
        outline: none;
        padding: 0.12em 0;

        &.selected {
            background-color: rgba(210,220,255, 0.75);
        }
    }
}

