@import 'globals';
@import 'front';
@import 'registration';

::-webkit-input-placeholder {
    color: rgba($text-color, 0.25);
}

html, body {
    height: 100%;
}

body {
    font-family: $helvetica;
    color: $text-color;
    background-color: $background-color;
    margin: 0;
    border: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

a {
    color: $link-color;
    cursor: pointer;

    &:hover {
        color: $link-color + #111;
    }

    &:active {
        color: $link-color - #111;
    }
}

dfn {
    font-weight: bold;
    font-style: normal;
    color: #30AA00;
    cursor: pointer;
}

ul#menu {
    position: absolute;
    top: 0; right: 0;
    font-size: 0.7em;
    margin: 0.75em;
    padding: 0;
    z-index: 10;

    li {
        display: inline-block;
        margin: 0 0.25em;

        a {
            text-decoration: none;
            color: rgba($text-color, 0.6);

            &:hover {
                color: rgba($text-color, 0.8);
            }
        }
    }
}

main.notes {
    position: absolute;
    height: 100%;
    overflow-y: auto;
    left: $sidebar-width;
    right: 0;
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: $background-color;

    h1 {
        font-weight: normal;
        margin-bottom: 0;
        outline: none;
        color: $primary-color;

        &.note-root {
            color: rgba($text-color, 0.5);
            cursor: default;
        }
    }

    ul {
        padding-left: 1.5em;
    }

    & > ul {
        margin-top: 0.5em;
    }

    .note-actions {
        bottom: 2px;
        right: 5px;
    }

    .add-note-clickable-area {
        height: 300px;
        cursor: text;
    }
}

aside.notes {
    $horizontal-padding: 1rem;
    $box-shadow: -10px 0 10px -10px rgba(0,0,0, 0.1) inset;
    position: absolute;
    height: 100%;
    width: $sidebar-width;
    overflow-x: auto;
    border-right: $edge-trim;
    background-color: $sidebar-background-color;
    box-shadow: $box-shadow;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 $horizontal-padding;

    & > ul:first-of-type {
        margin-top: 3em;
    }

    .search {
        position: fixed;
        width: $sidebar-width - $edge-trim-border-width;
        margin: 0;
        margin-left: -$horizontal-padding;
        overflow: hidden;
        border-right: $edge-trim;
        border-bottom: $edge-trim;

        & * {
            float: left;
        }

        input {
            padding: 0.5em 0.75em;
            font-size: 1em;
            outline: none;
            border: 0;
            background-color: rgba($background-color, 0.65);
            box-shadow: $box-shadow;
            width: calc(100% - 29px); // full width minus logo width
            box-sizing: border-box;

            &:focus {
                background-color: $background-color;
            }
        }

        i {
            position: absolute;
            top: 0; right: 0;
            padding: 10px 12px;
            opacity: 0.25;

            &.fa-close {
                cursor: pointer;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        .logo {
            height: 35px;
        }
    }

    .note-actions {
        bottom: 2px;
        left: -16px;
        padding-right: 4px; // prevent element from going invisible in "dead zone"
                            // between .note-text and .note-actions elements
        opacity: 0;

        &:hover, &.active {
            opacity: 1;
        }
    }

    .root {
        color: rgba($text-color, 0.5);
        text-transform: uppercase;
        font-size: 0.8em;
        margin-left: -1em;
        cursor: pointer;
        display: inline-block;
        padding: 0.2em 0.2em 0.2em 0;
    }

    .note-text {
        cursor: pointer;
        padding-right: 0.25em;
        display: inline-block; // forces containment of text in sidebar with overflow: scroll
                               // http://stackoverflow.com/a/3917059
    }

    .root, .note-text {
        &:hover {
            background-color: rgba($select-color, 0.1);
        }

        &.focused {
            color: $primary-color;
        }
    }

    .search-results {
        li {
            border-bottom: $edge-trim;
            padding: 0.6em 0.4em 0.4em;
            cursor: pointer;

            &:hover {
                background-color: rgba($select-color, 0.1);
            }

            &.no-results {
                border-bottom: none;
                cursor: default;
                text-align: center;
                color: rgba($text-color, 0.5);

                &:hover {
                    background-color: initial;
                }
            }
        }

        .note-text:hover {
            background-color: initial;
        }

        .path {
            font-size: 0.8em;
            font-weight: bold;
            display: block;
            color: $primary-color;
        }
    }

    .offline-mode {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 0.7em;
        text-transform: uppercase;
        padding: 0.2em 0.4em;
        color: rgba($text-color, 0.5);
        background-color: $sidebar-background-color;
        cursor: help;

        .dot {
            background-color: $error-color + #222;
            width: 8px;
            height: 8px;
            display: inline-block;
            border-radius: 50%;
        }
    }
}

.notes {
    ul {
        padding-left: 1em;
        border-left: 1px solid #BFFFA6;
        list-style-type: none;
    }

    & > ul {
        border-left: none;
        padding-left: 0 !important;
    }

    .collapsed {
        border-bottom: $edge-trim;
    }

    .note-text {
        outline: none;
        padding: 0.2em 0;
    }
}

.note-container {
    position: relative;

    &.active {
        background-color: rgba($select-color, 0.05);
    }

    &.selected {
        background-color: rgba(210,220,255, 0.75);
    }
}

.note-actions {
    position: absolute;
    color: rgba($text-color, 0.25);
    background-color: rgba($background-color, 0.65);
    cursor: default;

    i {
        cursor: pointer;

        &:hover {
            color: rgba($text-color, 0.75);
        }
    }
}

.logo {
    font-family: 'Laila', sans-serif;
    font-weight: normal;
    color: $primary-color;

    &.front {
        font-size: 3.5em;
        margin: 0;
        text-align: right;
    }
}

.center {
    text-align: center;
}
