<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}The future of note-taking is now.{% endblock %}">
    <title>{% block title %}Project Adansonia{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">
    <!--<link href='http://fonts.googleapis.com/css?family=Laila' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular.min-1.2.26.js"></script>
    <script src="{{ STATIC_URL }}js/deep-diff-0.3.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/mousetrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>
</head>
<body ng-app="notes">
    <header>
    </header>

    {% block content %}{% endblock %}

    <footer>
    </footer>
</body>
</html>
