{% extends "base.html" %}

{% block content %}
{% verbatim %}

<section ng-controller="NotesController as notes" id="notes">

    <aside class="notes">
        <h1 class="logo">Sepalnote</h1>
        <input ng-model="notes.search_query"
               id="search"
               placeholder="&#xF002; Search"
               autocomplete="off">
        </input>

        <ul class="search-results">
            <li ng-repeat="result in notes.search_results">
                <span class="path">{{notes.displaySearchResultPath(result)}}</span>
                <span class="note-text">{{notes.displaySearchResult(result)}}</span>
            </li>
        </ul>

        <ul>
            <li ng-repeat="note in notes.tree.tree"
                ng-init="path = [$index]"
                ng-include="'/fragment/note-minor/'"
                class="note">
            </li>
        </ul>

    </aside>

    <main class="notes">
        <div class="note-container"
             ng-class="{active: note.hover}"
             ng-repeat="note in [notes.noteFromPath(notes.tree.focused_note_path)]"
             ng-mouseover="note.focus = true"
             ng-mouseleave="note.focus = false">
            <div class="note-actions"
                 ng-show="note.focus"
                 ng-mouseover="note.hover = true"
                 ng-mouseout="note.hover = false">
                <!-- <i title="Share note" class="fa fa-share-alt"></i> -->
            </div>
            <h1 ng-if="notes.tree.focused_note_path.length"
                contenteditable="true"
                spellcheck="true"
                class="note-text"
                id="input-major-{{note.uuid}}"
                ng-keydown="notes.keyHandler(note, path, true, $index, $event)"
                ng-model="note.text">
            </h1>
            <h1 ng-if="!notes.tree.focused_note_path.length"
                class="note-root">
                All Notes
            </h1>
        </div>

        <ul ng-if="notes.tree.focused_note_path.length"
            ng-repeat="focusedNote in [notes.noteFromPath(notes.tree.focused_note_path)]">
            <li ng-repeat="note in focusedNote.children"
                ng-init="path = notes.tree.focused_note_path.concat($index)"
                ng-include="'/fragment/note-major/'"
                class="note">
            </li>
            <li ng-if="!focusedNote.children || !focusedNote.children.length"
                ng-click="notes.addFirstChild(focusedNote)"
                class="add-note-clickable-area">
            </li>
        </ul>

        <ul ng-if="!notes.tree.focused_note_path.length">
            <li ng-repeat="note in notes.tree.tree"
                ng-init="path = notes.tree.focused_note_path.concat($index)"
                ng-include="'/fragment/note-major/'"
                class="note">
            </li>
            <li ng-if="!notes.tree.tree.length"
                ng-click="notes.addFirstChild(notes.tree.tree)"
                class="add-note-clickable-area">
            </li>
        </ul>

    </main>

</section>

{% endverbatim %}
{% endblock %}
