{% extends "base.html" %}

{% block content %}

<section ng-controller="NotesController as notes" id="notes">

    <aside class="notes">
        <ul>
            <li ng-repeat="note in notes.tree.note.children | filter:note.exapnded_in_minor_pane" ng-init="parent = notes.tree.note" ng-include="'/fragment/note-minor/'"></li>
        </ul>
    </aside>

    <main class="notes">
        <h1>{% verbatim %}{{notes.tree.note.text}}{% endverbatim %}</h1>
        <ul>
            <li ng-repeat="note in notes.tree.note.children | filter:note.exapnded_in_major_pane" ng-init="parent = notes.tree.note" ng-include="'/fragment/note-major/'"></li>
        <ul>
    </main>

</section>

{% endblock %}
